body{
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.container{
  width: 80vw;
  height: 80vh;
}

.container div{
  position: absolute;
}

.box1{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition-duration: 2s;
  transition-timing-function: linear;
  background-color: blue;
  left: 0%;
}

.container:hover .box1{
  left: 45%;
}

.box2{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition-duration: 2s;
  transition-timing-function: linear;
  background-color: yellow;
  left: 80%;
}

.container:hover .box2{
  left: 45%;
}

.box3{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition-duration: 2s;
  transition-delay: 2s;
  left: 48%;
  transition-timing-function: linear;
  background-color: green;
  bottom: 100%;
}

.container:hover .box3{
  transition-timing-function: linear;
  bottom: 20%;
}

.container .box4{
  width: 0px;
  height: 0px;
  border-top:100px solid purple;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 100px solid transparent;
  transition-duration: 2s;
  transition-timing-function: linear;
  left: 40%;
}

.container:hover .box4{
  left: 40%;
}